name: Install and Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build-linux:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Add /etc/hosts entries
      run: |
        cat .github/workflows/etchosts.txt | sudo tee -a /etc/hosts

    - name: Install Ubuntu Deps
      run: |
        sudo apt-get update
        sudo python -m pip install psycopg

    - name: Do Work
      run: |
        set -e
        git clone --depth 1 https://github.com/akrherz/ci_tooling.git .ci_tooling
        . .ci_tooling/postgres.sh
        psql -c 'CREATE ROLE runner SUPERUSER LOGIN CREATEDB;' -U postgres || true
        sh bootstrap.sh
        psql -f data/postgis/cwsu.db -U mesonet postgis
        /usr/bin/python3 schema_manager.py
        /usr/bin/python3 store_test_data.py
